*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

html {
  font-size: 19px;
}

@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: input-sans;
  font-weight: 300;
  letter-spacing: -0.03em;
  word-spacing: -0.2em;
  line-height: 1.8;
  font-feature-settings: "ss02", "ss11", "ss12";

  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;

  background-color: #0f0f0f;
  color: #d6d6d6;
}

@media (max-width: 40rem) {
  body {
    font-family: input-sans-narrow;
  }
}

p,
ul {
  max-width: 30rem;
}

* + * {
  margin-top: 1rem;
}

li + li {
  margin-top: 0;
}

h1,
h2,
pre {
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: -0.08em;
  word-spacing: -50%;
  max-width: 35rem;
}

h1 .project-name {
  font-weight: 400;
}

h2 {
  font-family: input-sans-condensed;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 5rem;
}

a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-size: 100% 1px;
}

aside {
  font-family: input-sans-compressed;
  font-size: 0.8rem;
  font-style: italic;
  font-feature-settings: "ss01", "ss02", "ss11", "ss12";
  letter-spacing: 0;
  word-spacing: 0;
  color: #7c7c7c;
}

img {
  display: block;
  max-width: 100%;
}

pre {
  overflow: auto;
}

code {
  font-family: input-sans-narrow;
  letter-spacing: 0;
  word-spacing: 0;
}

p code {
  border: 1px solid #5e5e5e;
  border-radius: 0.3rem;
  padding: 0 0.2rem;
}

code.sema kw {
  color: #cce1f1;
}

code.sema cf {
  color: #75caf2;
}

code.sema prop,
code.sema enum {
  color: #dbdcf3;
}

code.sema ty {
  color: #e1e0c8;
}

code.sema in {
  color: #75caf2;
}

code.sema bool {
  color: #e3a6dc;
}

code.sema n {
  color: #e3a6dc;
}

code.sema str {
  color: #cfe8b7;
}

code.sema .mut {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-size: 100% 1px;
}

code.colorful kw {
  color: #75caf2;
}

code.colorful fn {
  color: #cfe8b7;
}

code.colorful prop {
  color: #f7a597;
}

code.colorful enum {
  color: #dbdcf3;
}

code.colorful ty {
  color: #e3a6dc;
}

code.colorful bool {
  color: #e1e0c8;
}

code.colorful n {
  color: #e1e0c8;
}

code.colorful str {
  color: #dbdcf3;
}
