*,
::before,
::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: input-sans;
  font-weight: 200;
  letter-spacing: -0.1em;
  word-spacing: -0.3em;

  background-color: #0f0f0f;
  color: #d6d6d6;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
