*,
::before,
::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: input-sans;
  font-weight: 200;
  letter-spacing: -0.1em;
  word-spacing: -0.3em;
  line-height: 1.4;

  max-width: 50rem;
  margin: 0 auto;

  background-color: #0f0f0f;
  color: #d6d6d6;
}

* + * {
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

code {
  letter-spacing: 0;
  word-spacing: 0;
}

code.colorful kw {
  color: #75caf2;
}

code.colorful fn {
  color: #c8eca5;
}

code.colorful prop {
  color: #f7a597;
}

code.colorful enum {
  color: #dbdcf2;
}

code.colorful ty {
  color: #e1e0c9;
}

code.colorful bool {
  color: #e3a6dc;
}
